* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-svg {
    margin-bottom:5px;
}

.logo {
    font-size: 2rem;
    font-weight: normal;
    
}

.source a {
    color: #5995da;
}

.source {
    position: absolute;
    font-size: .5rem;
    font-weight: normal;
    margin-top: -30px;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995da;
    padding: 20px 0;
}

.menu {
    display: flex;
    width: 900px; 
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #D6e9fe;
    color: #5995da;
}

.header {
    width: 100rem;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 50%;
    margin-left: -10vh;
}

.text span {
    font-size: 2rem;
    font-weight: bold;
    color: #86b6ed;
}

.login {
    margin-left: 20px;
    margin-right: 5vh;
}.social {
    margin-left: 5vh;
    margin-right: 20px;
}
.subscribe {
    margin-left: 20px;
    margin-right: 5vh;
}


.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.title {
    margin-bottom: 2rem;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    transition: .2s linear;
}

@media(max-width: 768px) {
    .photo-gallery {
        flex-direction: column;
    }
}

.container .photo-gallery .column .photo:hover img{
    transform: scale(1.1);
}

.container .popup-image {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span {
    position: absolute;
    top:0; right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

.container .popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 82%;
    max-height: 82%;
    border-radius: 5px;
}

@media(max-width: 768px) {
    .container .popup-image img {
        max-width: 95%;
        max-height: 95%;
    }
}
