/* synthwave color scheme */
body {

    background-color: #2e0854;
    color: #00ffff;
    font-family: coubra, 'Press Start 2P', cursive;
    text-shadow: 2px 2px 2px #1b08c2;
}

h1 {

    color: #FDE74C;
    text-shadow: 2px 2px 2px #1b08c2;

}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

img {
    border: 2px solid #00ffff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #1b08c2;
    max-width: 100%;
    height: auto;
    }

a {
    color: #00ffff;
    text-decoration: none;
    text-shadow: 2px 2px 0px #1b08c2, 
                4px 4px 0px #a33bec, 
                6px 6px 0px #fc03a1,
                8px 8px 8px #fde74c;
    animation: blink 2s infinite;
}

a:hover {
    animation-play-state: paused;
}